<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PostgreSQL データ取得</title>
<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css" />
</head>
<body>
	<div th:object="${model}">
	<div>
		<p th:text="*{msg}">please wait...</p>
		<form method="post" action="" th:action="@{/write}">
			<input type="submit" value="データ登録" />
		</form>
		<br>
		<form method="post" action="/aerospike/open" th:action="@{/open}">
			<input type="submit" value="データ取得" />
		</form>
	</div>
	<p th:text="*{rtnMsg}">結果</p>
<!-- 	<div th:unless="*{#lists.isEmpty(dataList)}"> -->
<!-- 		<p th:text="*{rtnMsg}">please wait...</p> -->
<!-- 		<table> -->
<!-- 			<tr> -->
<!-- 				<th>No</th> -->
<!-- 				<th>c1</th> -->
<!-- 				<th>c2</th> -->
<!-- 				<th>c3</th> -->
<!-- 			</tr> -->
<!-- 			<tr th:each="data, status: *{dataList}"> -->
<!-- 				<td th:text="${status.index} + 1"></td> -->
<!-- 				<td th:text="${data.c1}">c1</td> -->
<!-- 				<td th:text="${data.c2}">c2</td> -->
<!-- 				<td th:text="${data.c3}">c3</td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
<!-- 	</div> -->
	</div>
</body>
</html>