<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PostgreSQL データ取得</title>
<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css" />
</head>
<body>
	<a href="test?lang=ja" th:href="@{/test?lang=ja}">日本語</a>
	<br />
	<a href="test?lang=en" th:href="@{/test?lang=en}">English</a>
	<hr />
	<span th:text="#{hello}">こんにちは</span>

	<div th:object="${model}">
	<div>
		<p th:unless="${#strings.isEmpty(msg)}" th:text="*{msg}">please wait...</p>
<!-- 		<form method="post" action="/demo/test" th:action="@{/test}">
 -->
 		<form method="post" th:action="@{/test}">
 			<input type="submit" value="データ取得" />
			<table>
				<tr>
					<td>名前：</td>
					<td><input type="text" th:field="*{name}" th:errorclass="fieldError" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></td>
				</tr>
				<tr>
					<td>年齢：</td>
					<td><input type="text" th:field="*{age}" th:errorclass="fieldError" /></td>
					<td th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:unless="*{#lists.isEmpty(dataList)}">
		<p th:text="*{rtnMsg}">please wait...</p>
		<table>
			<tr>
				<th>No</th>
				<th>c1</th>
				<th>c2</th>
				<th>c3</th>
			</tr>
			<tr th:each="data, status: *{dataList}">
				<td th:text="${status.index} + 1"></td>
				<td th:text="${data.c1}">c1</td>
				<td th:text="${data.c2}">c2</td>
				<td th:text="${data.c3}">c3</td>
			</tr>
		</table>
	</div>
	</div>
</body>
</html>